<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brokers</key>
	<dict>
		<key>local</key>
		<dict>
			<key>host</key>
			<string>0.0.0.0</string>
			<key>timeout</key>
			<integer>20</integer>
			<key>port</key>
			<real>1883</real>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
		<key>localTLS</key>
		<dict>
			<key>host</key>
			<string>0.0.0.0</string>
			<key>timeout</key>
			<integer>60</integer>
			<key>port</key>
			<real>8883</real>
			<key>tls</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
			<key>allowUntrustedCertificates</key>
			<true/>
			<key>validatesCertificateChain</key>
			<false/>
			<key>validatesDomainName</key>
			<false/>
			<key>serverCER</key>
			<string>localhost</string>
			<key>secpol</key>
			<true/>
		</dict>
		<key>local-apollo</key>
		<dict>
			<key>host</key>
			<string>localhost</string>
			<key>timeout</key>
			<integer>60</integer>
			<key>port</key>
			<integer>61613</integer>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>4</integer>
			<key>websocket</key>
			<false/>
			<key>allowUntrustedCertificates</key>
			<false/>
			<key>CoreData</key>
			<true/>
			<key>persistent</key>
			<true/>
			<key>user</key>
			<string>admin</string>
			<key>pass</key>
			<string>password</string>
		</dict>
		<key>local5</key>
		<dict>
			<key>host</key>
			<string>localhost</string>
			<key>timeout</key>
			<integer>30</integer>
			<key>port</key>
			<real>1883</real>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>5</integer>
			<key>websocket</key>
			<false/>
			<key>allowUntrustedCertificates</key>
			<false/>
			<key>CoreData</key>
			<true/>
			<key>persistent</key>
			<true/>
		</dict>
		<key>localWS</key>
		<dict>
			<key>host</key>
			<string>localhost</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>9001</integer>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>4</integer>
			<key>websocket</key>
			<true/>
			<key>allowUntrustedCertificates</key>
			<false/>
		</dict>
		<key>emqtt</key>
		<dict>
			<key>host</key>
			<string>q.emqtt.com</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>1883</integer>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>4</integer>
			<key>user</key>
			<string>user</string>
			<key>pass</key>
			<string>pass</string>
		</dict>
		<key>emqttWS</key>
		<dict>
			<key>host</key>
			<string>q.emqtt.com</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>8083</integer>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>4</integer>
			<key>websocket</key>
			<true/>
			<key>user</key>
			<string>user</string>
			<key>pass</key>
			<string>pass</string>
		</dict>
		<key>aWsBroker</key>
		<dict>
			<key>host</key>
			<string>1.2.3.4</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>443</integer>
			<key>tls</key>
			<true/>
			<key>websocket</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
			<key>path</key>
			<string>/control/startpulse?pulseid=control&amp;uid=1234</string>
		</dict>
		<key>mosquitto</key>
		<dict>
			<key>host</key>
			<string>test.mosquitto.org</string>
			<key>timeout</key>
			<integer>40</integer>
			<key>port</key>
			<real>1883</real>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
		<key>mosquittoWS</key>
		<dict>
			<key>host</key>
			<string>test.mosquitto.org</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>8080</integer>
			<key>tls</key>
			<false/>
			<key>websocket</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
		<key>mosquittoTLS</key>
		<dict>
			<key>host</key>
			<string>test.mosquitto.org</string>
			<key>timeout</key>
			<integer>40</integer>
			<key>port</key>
			<real>8883</real>
			<key>tls</key>
			<true/>
			<key>allowUntrustedCertificates</key>
			<true/>
			<key>validatesCertificateChain</key>
			<false/>
			<key>validatesDomainName</key>
			<false/>
			<key>serverCER</key>
			<string>mosquitto.org</string>
			<key>secpol</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
		<key>mosquittoTLSClient</key>
		<dict>
			<key>host</key>
			<string>test.mosquitto.org</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<real>8884</real>
			<key>tls</key>
			<true/>
			<key>allowUntrustedCertificates</key>
			<true/>
			<key>validatesCertificateChain</key>
			<false/>
			<key>validatesDomainName</key>
			<false/>
			<key>serverCER</key>
			<string>mosquitto.org</string>
			<key>clientp12</key>
			<string>client</string>
			<key>clientp12pass</key>
			<string>abcde</string>
			<key>secpol</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
		<key>mosquittoWSS</key>
		<dict>
			<key>host</key>
			<string>test.mosquitto.org</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>8081</integer>
			<key>tls</key>
			<true/>
			<key>websocket</key>
			<true/>
			<key>allowUntrustedCertificates</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
