<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>brokerList</key>
	<array>
		<string>#local</string>
		<string>#localWS</string>
		<string>#aWsBroker</string>
		<string>mosquitto</string>
		<string>#mosquittoWS</string>
		<string>mosquittoTLS</string>
		<string>#mosquittoWSS</string>
	</array>
	<key>brokers</key>
	<dict>
		<key>mosquitto</key>
		<dict>
			<key>host</key>
			<string>test.mosquitto.org</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>1883</integer>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
		<key>local</key>
		<dict>
			<key>host</key>
			<string>localhost</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>1883</integer>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>4</integer>
			<key>websocket</key>
			<false/>
			<key>allowUntrustedCertificates</key>
			<false/>
			<key>CoreData</key>
			<true/>
			<key>persistent</key>
			<true/>
		</dict>
		<key>localWS</key>
		<dict>
			<key>host</key>
			<string>localhost</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>9001</integer>
			<key>tls</key>
			<false/>
			<key>protocollevel</key>
			<integer>4</integer>
			<key>websocket</key>
			<true/>
			<key>allowUntrustedCertificates</key>
			<false/>
		</dict>
		<key>mosquittoWS</key>
		<dict>
			<key>host</key>
			<string>test.mosquitto.org</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>8080</integer>
			<key>tls</key>
			<false/>
			<key>websocket</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
		<key>aWsBroker</key>
		<dict>
			<key>host</key>
			<string>1.2.3.4</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>443</integer>
			<key>tls</key>
			<true/>
			<key>websocket</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
			<key>path</key>
			<string>/control/startpulse?pulseid=control&amp;uid=1234</string>
		</dict>
		<key>mosquittoTLS</key>
		<dict>
			<key>host</key>
			<string>test.mosquitto.org</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>8883</integer>
			<key>tls</key>
			<true/>
			<key>allowUntrustedCertificates</key>
			<true/>
			<key>validatesCertificateChain</key>
			<false/>
			<key>validatesDomainName</key>
			<false/>
			<key>serverCER</key>
			<string>mosquitto.org</string>
			<key>secpol</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
		<key>mosquittoWSS</key>
		<dict>
			<key>host</key>
			<string>test.mosquitto.org</string>
			<key>timeout</key>
			<integer>10</integer>
			<key>port</key>
			<integer>8081</integer>
			<key>tls</key>
			<true/>
			<key>websocket</key>
			<true/>
			<key>allowUntrustedCertificates</key>
			<true/>
			<key>protocollevel</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
